language: node_js
node_js:
- 14
cache:
  bundler: true
  directories:
  - node_modules
script:
- npm build
deploy:
  provider: pages
  local_dir: .gen/www
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: false
  on:
    branch: master
